<% title 'Make dream · Personal website' %>
<% page_name 'home' %>
<div class="row">
  <div class="main col-md-9">
    <%= render partial: 'home/main' %>
  </div>
  <div class="sidebar col-md-3">
    <%= render partial: 'home/sidebar' %>
  </div>
</div>
