<% title 'create new post' %>

<div class="main-wrapper">
  <div class="container">
    <div class="row">
      <div class="main col-md-12">
        <header>
          <h1>Create a new post</h1>
        </header>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
